

<h1>{{$ctrl.titre}}</h1>
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <span>Infirmiers</span>
      </div>
    </md-toolbar>
    <md-list>
          <infirmier ng-repeat="inf in $ctrl.data.infirmiers" data="inf" on-update="$ctrl.updateData()"></infirmier>
    </md-list>
  </div>
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Patients non affectés</span>
      </div>
    </md-toolbar>

    <patient-non-affecte ng-repeat="pat in $ctrl.data.patientsNonAffectes" data="pat" on-update="$ctrl.updateData()"></patient-non-affecte>
  </div>

  <section id="ajouterPatient" class="">
    <section>
      <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Ajouter un patient</span>
        </div>
      </md-toolbar>

      <form-patient on-update="$ctrl.updateData()"></form-patient>

    </section>
  </section>
