<md-list-item>
  <div class="md-list-item-text">
      <h3>{{$ctrl.data.nom}} {{$ctrl.data.prenom}}</h3>
      <md-list class="flex" flex="" role="list">
        <md-list-item>
            <h4>Date de naissance : </h4> {{$ctrl.data.naissance}}
        </md-list-item>
        <md-list-item>
          <h4>Sexe : </h4> {{$ctrl.data.sexe}}
        </md-list-item>
        <md-list-item>
          <h4>Numéro de sécurité sociale: </h4> {{$ctrl.data.numero}}
        </md-list-item>
        <md-list-item>
          <h4>Adresse : </h4> {{$ctrl.data.adresse.rue}} {{$ctrl.data.adresse.ville}} {{$ctrl.data.adresse.codePostal}}
        </md-list-item>
      </md-list>
      <form name="ajouterPatient" ng-submit="$ctrl.affecterPatient(); $ctrl.update();" novalidate >


        <md-input-container class="infirmier">
          <label for="infirmier">Infirmier</label>
          <md-select ng-model="$ctrl.patient.infirmier">
            <md-option  ng-repeat="(id, infirmier) in $ctrl.listInf" value="{{id}}">{{infirmier.nom}} {{infirmier.prenom}}</md-option>
          </md-select>
        </md-input-container>

        <md-button ng-click="$ctrl.addPatientNum($ctrl.data.numero)" ng-disabled="$ctrl.patient.infirmier==''" type="submit" class="md-primary md-raised" id="btAffecterPatient">Affecter ce patient</button>

      </form>
  </div>

</md-list-item>
