<!doctype html>

<html lang="fr">
	<head>
        <meta charset="utf-8" />
		<title>Interface secrétaire</title>
		<link rel="stylesheet" href="dev/secretary.css"/>
		<script src="dev/secretary.js"></script>

	</head>
	<body ng-app="cabinet">


		<h1>Interface secrétaire</h1>
		<cabinet-medical titre='Cabinet Médical' src='data/cabinetInfirmier.xml'></cabinet-medical>
		<section>



			<section id="ajouterPatient" class="">
				<section>
					<md-toolbar>
			      <div class="md-toolbar-tools">
			          <span>Ajouter un patient</span>
			      </div>
			    </md-toolbar>
				<form id="formAddPatient" action="/addPatient" method="POST">
					<md-content>
						<div>
							<md-input-container class="name">
								<label for="patientName">Nom</label>
								<input type="text" name="patientName" id="patientName" />
							</md-input-container>
							<md-input-container class="forname">
								<label for="patientForname">Prénom</label>
								<input type="text" name="patientForname" id="patientForname" />
							</md-input-container>
							<md-input-container class="sex">
								<label for="patientSex">Sexe</label>
								<md-select ng-model="user.state">
		              <md-option  value="M">M</md-option>
									<md-option  value="F">F</md-option>
		            </md-select>
							</md-input-container>

							<md-datepicker class="birthday" md-placeholder="Date de naissance" ng-model="user.birthday">Date de naissance
							</md-datepicker>
						</div>
					</md-content>

						<md-input-container class="md-block" flex-gt-sm>
	            <label>Numéro</label>
	            <input name="patientNumber" ng-model="pat.num" required ng-pattern="/^[0-9]*$/">
							<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
	              <div ng-message="pattern" class="my-message">Vous devez rentrer un nombre</div>
	            </div>
	          </md-input-container>



						<md-content md-theme="docs-dark" >

							<md-input-container class="md-block" flex-gt-sm>
								<label>Etage</label>
								<input name="patientFloor" ng-model="pat.etage" required ng-pattern="/^[0-9]*$/">
								<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
									<div ng-message="pattern" class="my-message">Vous devez rentrer un nombre</div>
								</div>
							</md-input-container>

							<md-input-container class="street">
								<label for="patientStreet">Rue</label>
								<input type="text" name="patientStreet" id="patientStreet" />
							</md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
            <label>Code Postal</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" md-minlength="5">
            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>

              <div ng-message="md-maxlength md-minlength pattern required" class="my-message">
                Entrez un nombre à cinq chiffres
              </div>
            </div>
          </md-input-container>

							<md-input-container class="city">
								<label for="patientCity">Ville : </label>
								<input type="text" name="patientCity" id="patientCity" />
							</md-input-container>

						</md-content>
						<md-button id="btAddPatient">Ajouter ce patient</button>
				</form>

				</section>
			</section>
			<table id="Affectations">
				<thead>
					<td>Infirmière</td>
					<td>Tournée</td>
				</thead>
				<tbody>
				</tbody>
			</table>
			<section id="map"></section>
		<section>
	</body>
</html>
